<html>
  <head>
    <title> MING GAO'S BLOG </title>
  </head>
  <body>
        <div>
            <h1><a href="">MING GAO'S BlOG</a></h1>
        </div>

        <div>
            <p>published: 21.07.2017, 1o:22</p>
            <h2><a href="">YOYOYOYO</a></h2>
            <p>HI EVERYONE!My name is Ming Gao. Welcome!</p>
        </div>

        <div>
            <p>published: 21.07.2017, 10:22</p>
            <h2><a href="">HOLA</a></h2>
            <p>HI AMIGOS.</p>
        </div>
    </body>
</html>
